* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(35, 36, 36);
    color: whitesmoke;
    margin-bottom: 20px;
}

h1:hover{
    color: greenyellow;
}

.nav {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    
}

ul {
    display: flex;
}

li {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color:purple;
    cursor: pointer;
}

a:hover{
color: yellow;
}

.product{
    background-color: bisque;
    height: 200px;
    margin: 10px;
    
}

.col-3{
    width: calc(25% - 20px);
}

footer {
    background-color: rgb(35, 36, 36);
    padding: 30px;
} 